$backGroundColor: #BDBDBD;
$buttonColor: #4B51EF;
$borderColor: #F3F3F3;
$errorColor: red;
$mainColor: white;
$fontFamily: 'Source Sans Pro', sans-serif;
$borderLine: 1px solid $borderColor;
$errorLine: 1px solid $errorColor;
$cursorP: pointer;
$noneMargin: 0;
$nonePadding: 0;
