@import "../../styles/variables.scss";
@import '../../styles/mixin.scss';

.header{
    background-color: $backGroundColor;
    @include wh($w: 152px, $h: 100%);
}

.header__title{
    @include font($size: 12px, $height: 14px, $align: left);
    @include wh($w: 69px, $h: 14px);
    margin: 35px 0 10px 20px;
}

.header__button{
    @include font($size: 12px, $height: 14px, $align: left);
    @include wh($w: auto, $r: 5px);
    background-color: $buttonColor;
    border: 0;
    padding: 5px 15px;
    margin: 0 0 10px 20px;
    color: white;
}

